:root {
    --animation-timing: 250ms;
}

.primary-navigation {
    position: relative;
    & nav {
        width: fit-content;
        margin: 0 auto;

        @media screen and (width <= 900px) {
            &.menu-hidden,
            &.menu-visible {
                margin-inline: auto;
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows var(--animation-timing) ease-in;

                & > ul {
                    overflow: hidden;
                }
            }

            &.menu-visible {
                grid-template-rows: 1fr;
                width: 100%;

                & > ul {
                    padding-block-start: 3rem;
                }
            }
        }
    }

    & ul {
        list-style: "";
        display: flex;
        gap: 20px;
        align-items: baseline;
        width: fit-content;
        margin-inline: auto;

        @media screen and (width <= 900px) {
            flex-direction: column;
            gap: 0;
            z-index: 300;
        }
    }
    & a {
        color: var(--link-blue);
        border-block-end: 5px solid transparent;
        padding-block-end: 5px;
        margin-block-end: 10px;
        @media screen and (width <= 900px) {
            padding: 0;
            margin: 0;
            border: 0;
        }
        display: block;
        cursor: pointer;
        text-decoration: none;

        &[aria-current="page"],
        &:hover {
            border-block-end: 5px solid var(--body-bg);
            color: var(--body-fg);

            @media screen and (width <= 900px) {
                border: 0;
            }
        }

        &[aria-current="page"] {
            pointer-events: none;
        }
    }

    @media screen and (width <= 900px) {
        max-width: 100%;
        margin: 0;
    }
}

.hamburger-button-wrapper {
    display: none;
}

@media screen and (width <= 900px) {
    .hamburger-button-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        margin-inline: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        & h2 {
            font-size: 1rem;
            font-weight: normal;
            margin-block-start: -5px;
            margin-inline-start: auto;
        }
    }

    .hamburger-button {
        cursor: pointer;
        width: 50px;
        background-color: transparent;
        border: 0;

        & .line {
            width: 80%;
            height: 10px;
            fill: var(--body-fg);
            transition:
                y var(--animation-timing) ease-in var(--animation-timing),
                rotate var(--animation-timing) ease-in,
                opacity 0ms var(--animation-timing);
            transform-origin: center;
        }

        &[aria-expanded="true"] .line {
            transition:
                y var(--animation-timing) ease-in,
                rotate var(--animation-timing) ease-in var(--animation-timing),
                opacity 0ms var(--animation-timing);
        }
        &[aria-expanded="true"] :is(.top, .bottom) {
            y: 47px;
        }
        &[aria-expanded="true"] .top {
            rotate: 45deg;
        }
        &[aria-expanded="true"] .bottom {
            rotate: -45deg;
        }
        &[aria-expanded="true"] .middle {
            opacity: 0;
        }
    }
}
